@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewBag.Title = "AdminPanelBlog";
    Layout = "~/Views/Shared/AdminPanelLayout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Başlık</th>
            <th>Kategori</th>
            <th>Tarih</th>
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
            <th>Yorumlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.BlogId</td>
            <td>@item.Title</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.BlogDate.ToShortDateString()</td>
            <td><a href="/Blog/DeletePost/@item.BlogId/" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Blog/UpdateBlog/@item.BlogId/" class="btn btn-outline-secondary">Güncelle</a></td>
            <td><a href="/Blog/BlogDetail/@item.BlogId/" class="btn btn-outline-primary">Detaylar</a></td>
            <td><a href="/Blog/GetBlogCommentByCommentId/@item.BlogId/" class="btn btn-outline-warning">Yorumlar</a></td>
        </tr>
        }
    </tbody>
</table>
<a class="btn btn-outline-success" href="/Blog/AddPost/">Post Ekle</a>

