
<div class="site-section bg-lightx">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-5">
                <div class="subscribe-1 ">
                    <h2>Abone Ol</h2>
                    <p class="mb-5">Bildirimleri anında alabilmek için lütfen Abone Olun.</p>
                    @using (Html.BeginForm("AddSubcribe", "Blog", FormMethod.Post))
                    {
                    <input type="text" class="form-control" placeholder="Mail Adresini Giriniz" name="SubscribeMail">
                    <input type="submit" class="btn btn-primary" value="Abone Ol">
                    }

                </div>
            </div>
        </div>
    </div>
</div>
