@using EntityLayer.Concrete
@model List<About>

<div class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                @foreach (var item in Model)
                {
                    <h3 class="footer-heading mb-4">Hakkımızda</h3>
                    <p>@item.AboutDescription1</p>
                }
            </div>
            <div class="col-md-3 ml-auto">
                <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                <ul class="list-unstyled float-left mr-5">
                    <li><a href="/About/Index/">Hakkımızda</a></li>
                    <li><a href="/Contact/Index/">İletişim</a></li>
                    <li><a href="/Blog/Index/">Ana Sayfa</a></li>
                    <li><a href="/Login/AuthorLogin/">Yazar Girişi</a></li>
                    <li><a href="/Login/AdminLogin/">Admin Girişi</a></li>
                </ul>
                <ul class="list-unstyled float-left">
                    <li><a href="/Blog/BlogByCategory/1/">Seyehat</a></li>
                    <li><a href="/Blog/BlogByCategory/4/">Yazılım</a></li>
                    <li><a href="/Blog/BlogByCategory/2/">Teknoloji</a></li>
                    <li><a href="/Blog/BlogByCategory/3/">Film & Dizi</a></li>
                    <li><a href="/Blog/BlogByCategory/5/">Spor</a></li>
                    <li><a href="/Blog/BlogByCategory/6/">Kültür & Sanat</a></li>
                </ul>
            </div>
            @Html.Action("AdminSocialMedia", "About")
            
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</div>
